{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "requireConfigFile": false
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "args": "none", "ignoreRestSiblings": true }],
    "sort-imports": ["warn", { "ignoreCase": true, "memberSyntaxSortOrder": ["none", "all", "multiple", "single"] }]
  }
}
